<style>.md h1, .md .nonumberh1 {page-break-before:always}</style>

<style class="fallback">body{white-space:pre;font-family:monospace}</style>
<script>
	window.markdeepOptions = {
		mode: 'markdeep',
		tocStyle: 'auto'
	};
</script>
<script src="markdeep.min.js"></script><script src="https://casual-effects.com/markdeep/latest/markdeep.min.js"></script>
<!--
<script src="https://unpkg.com/freezeframe/dist/freezeframe.min.js"></script>
<script>new Freeframe({selector: 'img.markdeep', overlay:true});</script>
-->
<!--
<link rel="stylesheet" href="https://casual-effects.com/markdeep/latest/slides.css?">
-->
